@import '~antd/es/style/themes/default.less';

.container > * {
//   background-color: @popover-bg;
  border-radius: 4px;
  box-shadow: @shadow-1-down;
  height:  100% !important;
}

.tree >{
  background: '#0092ff';
  padding: '1px 0';
}
@media screen and (max-width: @screen-xs) {
  .container {
    width: 100% !important;
  }
  .container > * {
    border-radius: 0 !important;
  }
}
